@page
@model PrivacyModel
@{
    ViewData["Title"] = "Global Time";
}
<div class="text-center">
<h1 class="display-4"> Global Time</h1>

<h3>The Current Universal Coordinated Time is : </h3>
    <h3>@DateTime.UtcNow</h3>
<img src="/css/Images/Globaltime2.png"  width="700"/>
</div>
